{
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 80,
    "tabWidth": 4,
    "bracketSameLine": true,
    "singleAttributePerLine": true,
    "overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.sass", "**/*.less"],
            "options": { "singleQuote": false }
        },
        {
            "files": ["**/*.vue"],
            "options": {
                "singleQuote": true
            }
        }
    ]
}
