html {
    scroll-behavior: smooth;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--text-muted);
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--text-dark);
}

section {
    display: flex;
    justify-content: center;

    h1 {
        color: var(--primary);
    }

    a {
        color: var(--bg-dark);
        background-color: var(--bg-dark);
        color: var(--primary);
        padding: 16px 24px;
        border-radius: 100px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.3;
        min-width: 145px;
    }

    &.secondary-container {
        background-color: var(--bg-dark);
        color: var(--text-muted);

        h1 {
            color: var(--primary);
        }

        a {
            color: var(--bg-dark);
            background-color: var(--text-muted);
        }
    }
}

section > div:first-child {
    max-width: 1600px;
    padding-top: 75px;
}
